
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: #eeeef9;
    color: #000;
    
    overflow: hidden;

    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    font-family: "Noto Sans JP", sans-serif;
}
html, body, a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
	-webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a {
    text-decoration: none;
    color: #000;
}

#footer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 3;
    display: none;
}
#controls {
    user-select: none;
    cursor: pointer;
    margin-bottom: 10px;
}
#controls img {
    width: calc(32px + 3vmin);
    margin: 0 5px;
}
#controls #bt_pause {
    display: none;
}
#license {
    font-size: calc(0.4rem + 0.5vmin);
    width: calc(100vw - 100px - 16vmin);
}

.dg.ac {
    user-select: none;
}


#view {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow: hidden;
}
#view canvas {
    width: 100%;
    height: 100%;
}

#media {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    width: calc(80px + 16vmin);
}
#media div {
    width: calc(80px + 16vmin) !important;
    height: calc(45px + 9vmin) !important;
}